<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    
    <title>Document</title>
</head>
<body>
    <h1>WELCOM TO INTERIOR DIGITAL BACKEND</h1>
    
    <br>
    <div class="box-btn">
        <button type="submit" class="submit-btn"><a href="/users/register">ENTRER</a></button>

    </div>
</body>
</html>